@model eProject.Models.Contact
@{
    ViewBag.Title = "Contact us";
}
@section styles {
    <link rel="stylesheet" href="~/Content/Css/Contact/Index.css" />
}

<div class="container">
    <h1 class="page-title">
        <i class="fa-solid fa-envelope"></i>
        Contact Us
    </h1>
    <div class="row">
        <div class="col-xl-6">
            <div class="rightBox boxSection">
                <h2 class="companyName">
                    Nexus Communication System
                </h2>
                <p class="explain">
                    Send us contact information if you have a need to register for the installation of services, questions or unresolved issues!
                </p>
                <p class="infoLine">
                    Phone: 0389845752
                </p>
                <p class="infoLine">
                    Email: nexusservice@gmail.com
                </p>
                <p class="infoLine">
                    Address: Ly Tu Trong, Ninh Kieu, Can Tho
                </p>
            </div>
        </div>
        <div class="col-xl-6">
            @using (Html.BeginForm("Store", "Contact", FormMethod.Post, new { @class = "contactForm" }))
            {
                <div class="form-group">
                    @Html.LabelFor(c => c.ContactName, new { @class = "form-label" })
                    @Html.EditorFor(c => c.ContactName, new { htmlAttributes = new { @class = "form-input", placeHolder = "Enter your name" } })
                    @Html.ValidationMessageFor(c => c.ContactName, null, new { @class = "invalidMessage" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(c => c.Phone, new { @class = "form-label" })
                    @Html.EditorFor(c => c.Phone, new { htmlAttributes = new { @class = "form-input", placeHolder = "Enter your phone" } })
                    @Html.ValidationMessageFor(c => c.Phone, null, new { @class = "invalidMessage" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(c => c.Email, new { @class = "form-label" })
                    @Html.EditorFor(c => c.Email, new { htmlAttributes = new { @class = "form-input", placeHolder = "Enter your email" } })
                    @Html.ValidationMessageFor(c => c.Email, null, new { @class = "invalidMessage" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(c => c.Content, new { @class = "form-label" })
                    @Html.TextAreaFor(c => c.Content, new { @class = "form-input", placeHolder = "Enter your message" })
                    @Html.ValidationMessageFor(c => c.Content, null, new { @class = "invalidMessage" })
                </div>
                <button class="form-btn">
                    Send
                </button>
            }
        </div>
    </div>
</div>