@{
    ViewBag.Title = "Account Management";
}
@section styles {
    <link rel="stylesheet" href="~/Content/Css/AdminCss/Account/Index.css" />
}
@section scripts {
    <script>
        $(function () {
            $('.deleteAccountBtn').click(function (e) {
                if (!confirm('Are you sure you want to delete that')) {
                    e.preventDefault();
                }
            })
        })
    </script>
}

<h1 class="page-title">
    Account Management
</h1>
<nav class="topNav">
    <div class="topNav-search">
        @using (Html.BeginForm("Search", "Account", new { area = "Admin" }, FormMethod.Post, new { @class = "searchForm" }))
        {
            @Html.AntiForgeryToken()
            <input class="searchForm-input" name="keyword" placeholder="Enter customer name, phone, id" />
            <select class="topNav-filterSelect" name="filter">
                <option class="topNav-filterSelectOption" value="All" selected>
                    All
                </option>
                <option class="topNav-filterSelectOption" value="Connecting">
                    Are connecting
                </option>
                <option class="topNav-filterSelectOption" value="Disconnect">
                    Are disconnect
                </option>
                <option class="topNav-filterSelectOption" value="DueToday">
                    Due today
                </option>
            </select>
            <button class="searchForm-btn">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        }
    </div>
</nav>

<div class="dataBox">
    <h3 class="dataBox-heading">
        List account
    </h3>

    <div class="orders">
        @foreach (eProject.Models.ViewModels.Account.AccountViewModel account in ViewBag.accounts)
        {
            <div class="orderItem">
                <div class="row">
                    <div class="col-xl-4">
                        <img class="orderItem-thumbnail" src="~/Uploads/ServiceThumbnails/@account.Thumbnail" alt="Thumbnail" />
                    </div>
                    <div class="col-xl-6">
                        <h3 class="orderItem-serviceName">
                            @account.AccountID
                        </h3>
                        <p class="orderItem-line">
                            Order ID:
                            @account.OrderID
                        </p>
                        <p class="orderItem-line">
                            Service Name:
                            @account.ServiceName
                        </p>
                        <p class="orderItem-line">
                            @if (account.Status.Equals("Connecting"))
                            {
                                <i style="color: green;" class="fa-solid fa-rss"></i>
                            }
                            else
                            {
                                <i style="color: red;" class="fa-solid fa-xmark"></i>
                            }
                            Status:
                            @account.Status
                        </p>
                        <p class="orderItem-line">
                            Customer:
                            @account.CustomerName
                        </p>
                        <p class="orderItem-line">
                            Contact Number:
                            @account.ContactNumber
                        </p>
                        <p class="orderItem-line">
                            <i class="fa-solid fa-calendar-days"></i>
                            Connected at
                            @account.ConnectedAt.ToString("dd/MM/yyyy")
                        </p>
                        <p class="orderItem-line">
                            <i class="fa-solid fa-calendar-days"></i>
                            Due date:
                            @if (DateTime.Now.Date == account.DueDate.Date)
                            {
                                <span style="color: #a4c639;">Today</span>
                            }
                            else
                            {
                                @account.DueDate.ToString("dd/MM/yyyy")
                            }
                        </p>
                    </div>
                    <div class="col-xl-2">
                        <div class="orderItem-actions">
                            <a class="orderItem-actionItem" href="/Admin/Account/Detail?accountID=@account.AccountID">
                                Detail
                            </a>
                            <a class="orderItem-actionItem deleteAccountBtn" href="/Admin/Account/Delete?accountID=@account.AccountID" style="background: #e52b50; color: #fff;">
                                Delete
                            </a>
                            <a class="orderItem-actionItem" href="/Admin/Customer/Index?customerID=@account.CustomerID" style="background: #a4c639; color: #000;" target="_blank">
                                Search customer of account
                            </a>
                            <a class="orderItem-actionItem" href="/Admin/Bill/Index?accountID=@account.AccountID" style="background: #a1caf1; color: #333;" target="_blank">
                                Bills of account
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>