@model eProject.Models.Service
@using eProject.Helpers
@{
    ViewBag.Title = "Service Detail";
}
@section styles {
    <link rel="stylesheet" href="~/Content/Css/Service/Detail.css" />
}

<div class="container">
    <h1 class="page-title">
        Information Detail @Model.ServiceName Service
    </h1>
    <div class="summaryInfoBox">
        <div class="row">
            <div class="col-xl-6">
                <div class="summaryInfoItem">
                    <p class="summaryInfoItem-heading">
                        Service Name
                    </p>
                    <h3 class="summaryInfoItem-value">
                        <i class="fa-solid fa-globe"></i>
                        @Model.ServiceName
                    </h3>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="summaryInfoItem">
                    <p class="summaryInfoItem-heading">
                        Deposit
                    </p>
                    <h3 class="summaryInfoItem-value">
                        <i class="fa-solid fa-money-bill"></i>
                        @Model.Deposit $
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="infoBox">
        <div class="row">
            <div class="col-xl-5">
                <img style="width: 100%;" class="infoThumbnail" src="~/Uploads/ServiceThumbnails/@Model.Thumbnail" alt="Package Thumbnail" />
            </div>
            <div class="col-xl-7">
                <div class="descriptionBox">
                    @Html.Raw(Model.Description)
                </div>
            </div>
        </div>
    </div>
    <div class="paymentPlansBox" id="payment">
        <h1 class="boxTitle">
            <i class="fa-solid fa-credit-card"></i>
            Payment plans
        </h1>

        <span style="display: none;" id="hiddenServiceID" data-service-id="@Model.ServiceID"></span>

        @foreach (eProject.Models.PaymentPlan pl in ViewBag.pls)
        {
            <div class="paymentPlansBox-content">
                <div class="paymentPlanItem">
                    <h3 class="paymentPlanItem-title">
                        <i class="fa-solid fa-caret-down"></i>
                        <span class="paymentPlanDetailItem-titleValue">
                            @pl.PlanName
                        </span>
                    </h3>
                    <div class="paymentPlanItem-description">
                        @Html.Raw(pl.Description)
                    </div>
                    <ul class="paymentPlanItem-childrenList">
                        @foreach(eProject.Models.PaymentPlanDetail pld in ServiceHelper.GetPldByID(pl.PaymentPlanID))
                        {
                            <li class="paymentPlanItem-childrenItem" data-pld-id="@pld.PaymentPlanDetailID">
                                <span class="paymentPlanItem-childrenItemValue">
                                    @pld.Content
                                </span>

                                @if (CallChargeHelper.GetCallChargeCount(pld.PaymentPlanDetailID) != 0)
                                {
                                    <p class="paymentPlanDetailItem-callChargeTitle">
                                        Call Charge:
                                    </p>

                                    <ul class="paymentPlanDetailItem-callChargeList">
                                        @foreach (eProject.Models.ViewModels.CallCharge.CallChargeViewModel ccItem in CallChargeHelper.GetCallCharge(pld.PaymentPlanDetailID))
                                        {
                                            <li class="paymentPlanDetailItem-callChargeItem">
                                                @ccItem.CallChargeName: @ccItem.CostPerMinute cents / minute
                                            </li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }

        

        <p class="currentPayment">
            Current payment plan is
            <span class="currentPayment-plan" id="currentPayment-plan">
                ?
            </span>
            /
            <span class="currentPayment-planDetail" id="currentPayment-planDetail">
                ?
            </span>
        </p>

        <a class="registerBtn disabled" href="/">
            <i class="fa-solid fa-inbox"></i>
            Register service
        </a>
    </div>
    <div class="otherPackagesBox">
        <h1 class="boxTitle">
            Other services
        </h1>

        <div class="row mt-5">
            @foreach (eProject.Models.Service item in ServiceHelper.GetOtherServiceID(Model.ServiceID))
            {
                <div class="col-xl-3">
                    <div class="cardItem">
                        <h3 class="cardItem-headingName">
                            @item.ServiceName
                        </h3>
                        <img class="cardItem-thumbnail" src="~/Uploads/ServiceThumbnails/@item.Thumbnail" alt="Thumbnail" />
                        <p class="cardItem-price">
                            <i class="fa-solid fa-money-bill"></i>
                            Deposit: @item.Deposit $
                        </p>
                        <a class="cardItem-detailBtn" href="/Service/Detail?serviceID=@item.ServiceID">
                            View Detail <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Content/Js/Service/Detail.js"></script>
}