@model eProject.Models.Contact
@{
    ViewBag.Title = "Contact Details Management";
}
@section styles {
    <link rel="stylesheet" href="~/Content/Css/AdminCss/Contact/ContactDetail.css" />
}

<h1 class="page-title">
    Contact Detail Management
</h1>
<nav class="topNav">
    <a class="topNav-btnItem" href="/Admin/Contact/">
        Exit
    </a>
</nav>
<div class="dataBox">
    <div class="contact">
        <p class="contact-sentDate">
            <i class="fa-solid fa-calendar-days"></i>
            @Model.ContactedAt.ToString("dd/MM/yyyy")
        </p>
        <label class="contact-label">
            Contact Name
        </label>
        <h4 class="contactItem-name dataLine">
            @Model.ContactName
        </h4>

        <label class="contact-label">
            Message
        </label>
        <p class="contactItem-content dataLine">
            @Model.Content
        </p>

        <label class="contact-label">
            Phone
        </label>
        <a class="contactItem-link contactItem-content dataLine" href="tel:@Model.Phone">
            <i class="fa-solid fa-phone-flip"></i>
            @Model.Phone
        </a>

        <label class="contact-label">
            Email
        </label>
        <a class="contactItem-link contactItem-content dataLine" href="mailto:@Model.Email">
            <i class="fa-solid fa-paper-plane"></i>
            @Model.Email
        </a>
    </div>
</div>

