@model eProject.Models.PasswordEditViewModel
@{
    ViewBag.Title = "Change password employee";
}
@section styles {
    <link rel="stylesheet" href="~/Content/Css/AdminCss/Employee/ChangePassword.css" />
}

<h1 class="page-title">
    Change password of <span class="highlight">@ViewBag.EmployeeName</span> account
</h1>
<div class="dataBox">
    @using (Html.BeginForm("UpdatePassword", "Employee", new { area = "Admin" }, FormMethod.Post, new { @class = "passwordForm" }))
    {
        @Html.HiddenFor(p => p.EmployeeID)
        @Html.AntiForgeryToken()
        @Html.HttpMethodOverride("PUT")
        <div class="form-group">
            @Html.LabelFor(p => p.NewPassword, new { @class = "form-label" })
            @Html.PasswordFor(p => p.NewPassword, new { @class = "form-input", placeHolder = "Enter new password" })
            @Html.ValidationMessageFor(p => p.NewPassword, null, new { @class = "invalidMessage" })
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.NewPasswordConfirm, new { @class = "form-label" })
            @Html.PasswordFor(p => p.NewPasswordConfirm, new { @class = "form-input", placeHolder = "Enter new password confirm" })
            @Html.ValidationMessageFor(p => p.NewPasswordConfirm, null, new { @class = "invalidMessage" })
        </div>
        <button class="form-btn">
            Update password
        </button>
    }
</div>