@model eProject.Models.SimpleProxyEmployee
@{
    Layout = "~/Areas/Admin/Views/Shared/_SignInLayout.cshtml";
    ViewBag.Title = "Employee Sign In";
}
@section styles {
    <link rel="stylesheet" href="~/Content/Css/AdminCss/Employee/SignIn.css" />
}

<div class="signInModal">
    <div class="signInContainer">
        @using (Html.BeginForm("Check", "Employee", new { area = "Admin" }, FormMethod.Post, new { @class = "signInForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(m => m.Phone, new { @class = "form-label" })
                @Html.EditorFor(m => m.Phone, new { htmlAttributes = new { @class = "form-input", placeHolder = "Enter employee phone" } })
                @Html.ValidationMessageFor(m => m.Phone, null, new { @class = "invalidMessage" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-input", placeHolder = "Enter employee password" })
                @Html.ValidationMessageFor(m => m.Password, null, new { @class = "invalidMessage" })
            </div>
            <button class="form-btn">
                Sign In
            </button>
        }
    </div>
</div>