@model eProject.Models.ViewModels.WarehouseEquipment.WarehouseEquipmentViewModel

@section Styles{
    <link rel="stylesheet" href="~/Content/Css/AdminCss/WarehouseEquipment/Add.css" />
}
@{
    ViewBag.Title = "Create ware equipment";

    eProject.Models.ViewModels.WarehouseEquipment.WarehouseEquipmentViewModel warehouseEquipment = new eProject.Models.ViewModels.WarehouseEquipment.WarehouseEquipmentViewModel();
    
}



<div class="container">
    <nav class="topNav">
        <h1 class="page-heading">
            <i class="fa-solid fa-plus"></i>
            Create ware equipment
            <a class="topNav-btnItem" href="/Admin/WarehouseEquipment">Exit</a>
        </h1>

    </nav>

    <div class="content-body">
        @using (Html.BeginForm("Store", "WarehouseEquipment", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(we => we.WarehouseID, new { @class = "form-label" })
                    @Html.DropDownListFor(we => we.WarehouseID, warehouseEquipment.WarehouseList, new { @class = "form-input"})
                    @Html.ValidationMessageFor(we => we.WarehouseID, null, new { @class = "invalidMessage" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(we => we.EquipmentID, new { @class = "form-label" })
                    @Html.DropDownListFor(we => we.EquipmentID, warehouseEquipment.EquipmentList, new { @class = "form-input"})
                    @Html.ValidationMessageFor(we => we.EquipmentID, null, new { @class = "invalidMessage" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(we => we.Quantity, new { @class = "form-label" })
                    @Html.EditorFor(we => we.Quantity, new { htmlAttributes = new { @class = "form-input", placeHolder = "Enter equipment quantity name" } })
                    @Html.ValidationMessageFor(we => we.Quantity, null, new { @class = "invalidMessage" })
                </div>

                <div class="col-xl-12">
                    <div class="form-group">
                        <button class="form-btn">Add</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

